<div class="container ">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="card-body">
                    <table class="table table-striped" style="width:100%"> 
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Наименование</th>
                                <th>Единица измерения</th>
                                <th>Цена за единицу, руб.</th>
                                <th>Количество</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let material of materials">
                                <td>{{material.id}}</td>
                                <td>{{material.name}}</td>
                                <td>{{material.measure}}</td>
                                <td>{{material.unitPrice}}</td>
                                <td>{{material.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>