<div class="full-size">
    <div class="row main-content text-center">
        <div class="col-md-4 text-center company-info">
            <h4 class="company-title">СТРОЙ</h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login-form">
            
                <div class="row d-flex justify-content-center">
                    <h2>Вход</h2>
                </div>
                <div class="row d-flex justify-content-center">
                    
                    <form [formGroup]="userForm" (submit)="LoginUser()"autocomplete="off">
                        <div class="form-group">
                            <div class="row">
                                <input type="text"  formControlName="login" class="form-input" placeholder="Логин" >
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="row">
                                <input type="text" formControlName="password" class="form-input" placeholder="Пароль">
                            </div>
                        </div>
                        <div *ngIf="showErrorMessage">Неверный логин или пароль</div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-sm">
                                <button [disabled]="isUserFormInvalid()"type="submit" class="btn">Войти</button>
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn" (click)="RegisterUser()">Зарегистрироваться</button>
                            </div>
                        </div>

                    </form>
                </div>
          
        </div>
    </div>
</div>
