.main-content{
	width: 30%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 15em auto;
	display: flex;
	height:40%;
	opacity: 0.9;
	
}
.company-info{
	background-color: #316caf;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company-info{
		display: none;
	}
	.login-form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#316caf;
}
.login-form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form-input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form-input:focus{
	border-bottom-color: #316caf;
	box-shadow: 0 0 5px rgba(49,108,175,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 100%;
	border-radius: 30px;
	color:#316caf;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #316caf;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #316caf;
	color:#fff;
}

input.ng-touched.ng-valid {
	border-color: rgb(66, 169, 72);
}

input.ng-touched.ng-invalid{
	border-color: rgb(238, 72, 72);
}

  .full-size {
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-image: url("/assets/images/bg8.jpg");
  background-size: cover;
  height: 100%;
}