<div class="card border-color col-md-6 offset-3 card-margin">
    <div class="card-header card-header-params back text-white">Карточка</div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="form-group col-md-8">
                    <label>Материал</label>
                    <select class="form-control" id="material">
                            <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>Количество</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Состояние</label>
                    <select class="form-control" id="state">
                            <option>...</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Операция</label>
                    <select class="form-control" id="operation">
                            <option>...</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Поставщик</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn back text-white">Добавить</button>
        </form>
    </div>
</div>


